In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


    
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## Exercise Part 1: Working with a panda series of fruits.

- Question 1: Determine the number of elements in fruits.

In [8]:
len(fruits) ## The length function is still an easy way to determine how many elements there are 
## because it is a list

17

Question 2: Output the index from fruits

In [10]:
fruits.index ## Using the index function with dot notation is an easy way to see the
## start, stop, and step of the indexes since this is a list

RangeIndex(start=0, stop=17, step=1)

Question 3: Output only the values from fruits

In [12]:
fruits.values ## by using values with dot notation and the series name in front.
## we easily output only the values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Question 4: Confirm the data type of the values in fruits.

In [16]:
fruits.dtype ## This returns dtype('O') which means object because in the original series above
## it lists the full data type name as objects as well.

dtype('O')

Question 5: Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
fruits.head(5) ## The head function returns the front end of the series and takes in a number you want displayed

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [21]:
fruits.tail(3) ## The tail function returns the last values of the series and takes in a 
## length of your choosing for input

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [23]:
fruits.sample(2) ## The sample function returns random values of the series and takes in a 
## length as your input that you want displayed

4     gala apple
12         mango
dtype: object

Question 6: Run the .describe() on fruits to see what information it returns when called on a Series with string values()

In [25]:
fruits.describe() ## Looks like the describe function when dealing with strings
## Returns the length of the list, the unique values inside the list, the most common value, the frequency of the 
## most common value, and the data type of the series.

count       17
unique      13
top       kiwi
freq         4
dtype: object

Question 7: Run the code neccessary to produce only the unique string values from fruits

In [31]:
unique_fruits = pd.unique(fruits)

In [32]:
unique_fruits

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

Question 8: Determine how many times each unique string value occurs in fruits

In [33]:
fruits.sort_values() ## This sorts all the common elements side by side so we easily see how many each occur

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
dtype: object

- kiwi: 4 times 
- mango: 2 times

In [35]:
fruits.value_counts() ## Here is the more computational way using value_counts() with dot notation

kiwi                4
mango               2
honeydew            1
strawberry          1
papaya              1
tomato              1
honeycrisp apple    1
pineapple           1
blackberry          1
gala apple          1
blueberry           1
gooseberry          1
watermelon          1
dtype: int64

Question 9: Determine the string value that occurs the most frequently in fruits.

In [37]:
fruits.value_counts() ## kiwi is the most common and occurs 4 times

kiwi                4
mango               2
honeydew            1
strawberry          1
papaya              1
tomato              1
honeycrisp apple    1
pineapple           1
blackberry          1
gala apple          1
blueberry           1
gooseberry          1
watermelon          1
dtype: int64

Question 10: Determine the string value that occurs least frequently in fruits.

In [43]:
fruits.value_counts(ascending=True) ## By setting parameters for value_counts to this boolean value for ascending. 
## We can change the default order of descending to ascending to have all the least common elements placed at the
## begining

watermelon          1
gooseberry          1
blueberry           1
gala apple          1
blackberry          1
pineapple           1
honeycrisp apple    1
tomato              1
papaya              1
strawberry          1
honeydew            1
mango               2
kiwi                4
dtype: int64